body {
    background-image: url("https://wallpapercave.com/wp/qhGPDUl.jpg");
    background-repeat: repeat;
    color: white;
    font-family: Arial, sans-serif;
}

.nav-bar {

    background-position: center;

    background-size: cover;
    height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.link-item {
    display: inline-block;
    margin-right: 20px;
}

.link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 20px;
    
    transition: background-color 0.5s ease;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: justify;
}

.Page-Title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 60px;
}

.Brief-Summary {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 30px;
}

.Img-of-Aghan {
    display: block;
    margin: 30px auto;
    max-width: 100%;
}

footer {
    background-color: green;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    border-radius:20px;
}

.hero-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/U.S._Army_firefight_in_Kunar.jpg/800px-U.S._Army_firefight_in_Kunar.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .logo{
    height: 150px;
    display: block;
    margin: auto;
}

.hero-section .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}
.forms{
 height:100%;
 width:100%;
}
